body {margin: 60px auto; width: 70%;}

nav ul, footer ul {font-family:'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: normal;}
nav ul li, footer ul li {display: inline; margin-right: 10px;}

/*Navbar Code to Keep it at the top*/
/*.navbar {font-family:'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; 
font-weight: normal;
background-color: #FFEAA9;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #6513FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {font-weight: bold;
  color: #6513FF;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
/*}*/


/* This is the font styles for the header and footer info, i.e Home button and twitter links*/
a {text-decoration: none; color: #6513FF;}

/* Modifies the text when you hover over it*/
a:hover {font-weight: bold;}

/* Font sizes for Headers*/
h1, h2, h3, h4 {font-family:'Helvetica', 'Arial', 'Sans-Serif';}
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

/* This is the font styles and such for the main body of the page*/
p {font-size: 1.5em; line-height: 1.4em; color: #000000;}
footer {border-top: 1px solid #d5d5d5; font-size: .8em;}

/* Images for main page*/
.imgContainer{
    float:left
}

.imgContainer2{
	float:right

}

/* Bio */
.bio { margin: 0px 0px 60px;}
.bio p { padding-bottom: 5px;}
.bio h1 { font-size: 3em; }
.bio h2 { font-size: 2.4em; }
.bio h3 { font-size: 1.6em; }
.bio a:hover { font-weight: bold;}
.bio p {font-size: 1.5em; line-height: 1.4em; color: #000000; margin-top: 0em; margin-bottom: 2em}

/* research */
.research { margin: 0px 0px 60px; }
.research h1 { font-size: 3em; }
.research h2 { font-size: 1.6em; }
.research h3 { font-size: 1.4em; }
p.italic {font-style: italic; font-size: 1.5em; line-height: 1.4em; color: #000000;}
/*.research p { font-size: 1.4em; line-height: 1.4em; color: #333;} */

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 1.6em; }
.cv h3 { font-size: 1.4em; }


/* Not Sure what these two lines do*/
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
