body {margin: 60px auto; width: 70%; font-size: 16px;}

nav ul, footer ul {font-family:'Helvetica', 'Arial', sans-serif; padding: 0px; list-style: none; font-weight: normal;}
nav ul li, footer ul li {display: inline; margin-right: 10px;}

/* This is the font styles for the header and footer info, i.e Home button and twitter links*/
a {text-decoration: none; color: #6513FF;}

/* Modifies the text when you hover over it*/
a:hover {font-weight: bold;}

/* Font sizes for Headers*/
h1, h2, h3, h4 {font-family: 'Sans-Serif';}
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

/* This is the font styles and such for the main body of the page*/
/* paragraph code */
p {font-size: 1.5em; line-height: 1.4em; color: #000000;} 
/* footer code */
footer {border-top: 1px solid #d5d5d5; font-size: .8em; clear:both;} /* border-top make the straight line above the icons */

/* Images for main page, not using because too busy. Puts two images side by side*/
.imgContainer{
    float:left
}

.imgContainer2{
	float:right /*was previously float:left*/
}

/* Class to clear floats*/
p.clear {
    clear: both;
}

/* Bio */
.bio { margin: 0px 0px 60px;}
.bio p { padding-bottom: 5px;}
.bio h1 { font-size: 3em; }
.bio h2 { font-size: 2.4em; }
.bio h3 { font-size: 1.6em; }
.bio a:hover { font-weight: bold;}
.bio p {font-size: 1.5em; line-height: 1.4em; color: #000000; margin-top: 0em;} /* margin-bottom: 2em}*/

/* research */
.research { margin: 0px 0px 60px; }
.research h1 { font-size: 3em; }
.research h2 { font-size: 1.6em; }
.research h3 { font-size: 1.4em; }
p.italic {font-style: italic; font-size: 1.5em; line-height: 1.4em; color: #000000;}
/*.research p { font-size: 1.4em; line-height: 1.4em; color: #333;} */

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 1.6em; }
.cv h3 { font-size: 1.4em; }


/* Not Sure what these two lines do*/
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Code to create the icons at the bottom of the page: email, github, twitter, linkedin */
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 35%;
}

.fa:hover {
    opacity: 0.3;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
  background: #BA0CF2;
  color: white;
}	
		
/* Styling for "blurb" class */
.blurb {
  display:block;
  position:relative;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 2px;
}

/* H1 "blurb" class style */
.blurb h1 {
  text-align:center;
  font-family:'Georgia', 'Arial', sans-serif; 
  margin: auto auto;
}
		
